<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Seat Database</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- third party JS -->
    <script src="@Url.Content("~/lib/react/umd/react.development.js")"></script>
    <script src="@Url.Content("~/lib/react-dom/umd/react-dom.development.min.js")"></script>
    <script src="@Url.Content("~/lib/react-bootstrap/react-bootstrap.min.js")"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Hi - Ajax (Staff No: 125215) </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="nav-link" onclick="logoutFromWC()">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                </li>
            </ul>
        </nav>


        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <span class="fas fa-wheelchair"></span>
                <span class="brand-text font-weight-light">Seat Database</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Client Information
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="" onclick="goToclientInformationCreate()" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>New Client Record</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" onclick="goToLoanRecordCreate()" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>New Loan Record</p>
                                    </a>

                                </li>
                                <li class="nav-item">
                                    <a href="" onclick="goToPPMICreate()" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>New PPMI Record</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="" onclick="gotoPartsInformationsPage()" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Open Quick Seach</p>
                                    </a>
                                </li>



                            </ul>
                        </li>

                    </ul>

                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Wheelchair Bank
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("", "ClientSearch")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Wheelchair Management</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" onclick="goToPartsInformationPageSearch()" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Wheelchair Parts Management</p>
                                    </a>

                                </li>
                                <li class="nav-item">
                                    <a href="" onclick="goToWheelchairSpecificationPage()" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Wheelchair Models Review</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="" onclick="goToSupplierSearch()" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Supplier Infomration</p>
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a href="" onclick="goToMaintenanceLogsSearch()" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Maintenance Log Book</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="" onclick="" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Wheelchair Accident Report</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>

                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Expenditure
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="" onclick="" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Purchase Transcation Record</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" onclick="" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Monthly Report</p>
                                    </a>

                                </li>
                                <li class="nav-item">
                                    <a href="" onclick="" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Client Purchasing Registry</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>


                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-image"></i>
                                <p>
                                    Statistics
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="" onclick="" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Client Statistics</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" onclick="" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Clinic and Workshop Statistics</p>
                                    </a>

                                </li>

                            </ul>
                        </li>

                    </ul>

                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>

            <!-- /.content-header -->
            <!-- Main content -->


        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2020 <a href="http://adminlte.io">Seat Database</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.5
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/dist/js/demo.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>

    <!-- PAGE SCRIPTS -->
    <script src="~/dist/js/pages/dashboard2.js"></script>

    <script>

    function gotoClientSearchPage() {
        var winPar = "width=400,height=600,toolbar=no, menubar=no,scrollbars=no,resizable=yes,location=no,directories=no,status=no";
        //alert("@Url.Action("", "ClientSearch")");
        //window.location.href = "@Url.Action("", "ClientSearch")";
        parent.window.location ="@Url.Action("", "ClientSearch")";
        window.location.reload();
    }
    function goToPPMICreate() {
        var winPar = "width=1200,height=600,toolbar=no, menubar=no,scrollbars=no,resizable=yes,location=no,directories=no,status=no";
       window.open("../PPMIPage/Edit?pageAction=create", "", winPar);
    }
    function goToclientInformationCreate() {
         var winPar = "width=1200,height=600,toolbar=no, menubar=no,scrollbars=no,resizable=yes,location=no,directories=no,status=no";
        window.open("../ClientSearch/clientInformation?pageAction=create", "", winPar);
    }
     function goToLoanRecordCreate() {
         var winPar = "width=1200,height=600,toolbar=no, menubar=no,scrollbars=no,resizable=yes,location=no,directories=no,status=no";
        window.open("../LoanInformationPage/Index?pageAction=create", "", winPar);
        }


           function goToWheelchairSpecificationPage() {
         var winPar = "width=1000,height=600,toolbar=no, menubar=no,scrollbars=no,resizable=yes,location=no,directories=no,status=no";
        window.open("../WheelchairSpecificationsPage/Search", "", winPar);
    }

    function gotoClientSearchPage() {
        var winPar = "width=400,height=600,toolbar=no, menubar=no,scrollbars=no,resizable=yes,location=no,directories=no,status=no";
       window.open("@Url.Action("", "ClientSearch")", "Quick Search", winPar);
    }

    function goToWheelChairSearch() {
         var winPar = "width=1000,height=600,toolbar=no, menubar=no,scrollbars=no,resizable=yes,location=no,directories=no,status=no";
        window.open("../wheelChairInformationPage/Search", "", winPar);
    }

     function goToPartsInformationPageSearch() {
         var winPar = "width=1000,height=600,toolbar=no, menubar=no,scrollbars=no,resizable=yes,location=no,directories=no,status=no";
        window.open("../PartsInformationsPage/Search", "", winPar);
    }

    function goToSupplierSearch() {
         var winPar = "width=1200,height=600,toolbar=no, menubar=no,scrollbars=no,resizable=yes,location=no,directories=no,status=no";
        window.open("../supplierInformation/Search", "", winPar);
    }

     function goToMaintenanceLogsSearch() {
         var winPar = "width=1000,height=600,toolbar=no, menubar=no,scrollbars=no,resizable=yes,location=no,directories=no,status=no";
        window.open("../MaintenanceLogsPage/Search", "", winPar);
    }

        function logoutFromWC() {
            console.info("logout lah")
            if (localStorage.getItem('lastTimePopLogin') !== null) localStorage.removeItem('lastTimePopLogin');
            if (localStorage.getItem('token') !== null) localStorage.removeItem('token');
            if (localStorage.getItem('user') !== null) localStorage.removeItem('user');
            if (localStorage.getItem('createDt') !== null) localStorage.removeItem('createDt');
            if (localStorage.getItem('isWarnedExpirey') !== null) localStorage.removeItem('isWarnedExpirey');
            var urlParts = document.location.href.split("/");
            console.info(urlParts[0])
       // parent.window.location ="@Url.Action("", "")";
       // window.location.reload();
            location.href = window.location.origin;
        }


    </script>
</body>
</html>

