@{
    ViewData["Title"] = "Create a Work Order";
}
<div class="container"> 
        <div class="col-*-12 p-3" id="contentForm"></div> 
</div>

<script>document.head.innerHTML += `<link type="text/css" rel="stylesheet" href="/css/React.css">`;</script>

<script type="text/javascript">
     
    var Alert = ReactBootstrap.Alert ;
    var Tabs = ReactBootstrap.Tabs ;
    var Tab = ReactBootstrap.Tab ;
    var qId = '@ViewData["id"]';
    var qAction = '@ViewData["pageAction"]'; 
    var qSeatNo = '@ViewData["seatNo"]'; 
    var qWorkingForm = '@ViewData["workingForm"]'; 
</script>
<!--   the form, itself -->
 <script type="module" src="@Url.Content("~/js/consumerComponent/workOrder/workOrder_get.jsx")"></script>  
